<% include ../partials/header %>

<div class="row">
    <div class="col-sm-12">
    
        <div class="jumbotron">
            <h1>Prefeitura de Curitiba - Portal de Web Service</h1>
            <p>"Bla bla bla" - Ana</p>
        </div>
        
    </div>
</div>

<% include ../partials/footer %>
